extends HFTemplete

block HFTemplete_head_1
  // slide
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='Fluid CSS3 Slideshow with Parallax Effect')
  meta(name='keywords', content='fluid, css3, css-only, slideshow, responsive, parallax, sibling, pseudo-class, transitions')
  link(rel='shortcut icon', href='./favicon.ico')
  link(rel='stylesheet', type='text/css', href='./css/demo.css')
  link(rel='stylesheet', type='text/css', href='./css/style.css')
  script(type='text/javascript', src='./js/modernizr.custom.04022.js')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic', rel='stylesheet', type='text/css')

block HFTemplete_body_1
  // Row #2.2 .... Body
  table(border='0', align='center', width='970')                
    tr
      // <td width="800"><img src="Image/superwifi_th.jpg" width="800" height="380"></td>
      td
        // Slide Show INDEX
        .container
          .sp-slideshow
            input#button-1.sp-selector-1(type='radio', name='radio-set', checked='checked')
            label.button-label-1(for='button-1')
            input#button-2.sp-selector-2(type='radio', name='radio-set')
            label.button-label-2(for='button-2')
            input#button-3.sp-selector-3(type='radio', name='radio-set')
            label.button-label-3(for='button-3')
            input#button-4.sp-selector-4(type='radio', name='radio-set')
            label.button-label-4(for='button-4')
            input#button-5.sp-selector-5(type='radio', name='radio-set')
            label.button-label-5(for='button-5')
            label.sp-arrow.sp-a1(for='button-1')
            label.sp-arrow.sp-a2(for='button-2')
            label.sp-arrow.sp-a3(for='button-3')
            label.sp-arrow.sp-a4(for='button-4')
            label.sp-arrow.sp-a5(for='button-5')
            .sp-content
              .sp-parallax-bg
              ul.sp-slider.clearfix
                li
                  img(src='../images/superwifi_th.jpg', alt='image01')
                li
                  img(src='../images/Line-AIS-BlackBerry.jpeg', alt='image02')
                li
                  img(src='../images/12Call-Mhao9Bht.jpg', alt='image03')
                li
                  img(src='../images/ais.jpg', alt='image04')
                li
                  img(src='../images/AIS-LAVA.png', alt='image05')        