html
	head
		title QTRF Document
	body
		p Function : InsertTextbox
		p Descriptions : Insert text into text box
		table(border="1", style="width:50%")
			tr
				td
					center Parameter
				td
					center Description
			tr
				td
					center TextBoxName
				td
					center TextBoxName : - SearchMainPackage -SearchPackage - Service Name -Mobile Number
			tr
				td
					center Value
				td
					center -
			tr
				td
					center Verify
				td
					center -