html
	head
		title QTRF Document
	body
		p Function : OpenBrowser
		p Descriptions : Open IE Browser
		table(border="1", style="width:50%")
			tr
				td
					center Parameter
				td
					center Description
			tr
				td
					center Url
				td
					center -